.feature {
    background-image: url('https://cdn.shopify.com/s/files/1/0599/7704/0084/files/bg3_1944x.jpg?v=1639836325');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}